# Pintos 빌드 중간 파일 및 산출물
*.o
*.d
*.out
*.bin
*.elf
*.img
*.map
*.lst
*.log
*.qemu
*.raw
*.hex
*.dis
*.dump

# 빌드 디렉터리
**/build/
**/bin/
**/obj/
**/output/
# core dump
core

# 임시 파일
*~
*.swp

# macOS
.DS_Store
pintos/userprog/select_test.sh
pintos/userprog/.test_status
pintos/userprog/.test_config
pintos/.vscode/settings.json
.vscode/settings.json
.vscode/launch.json
